// 
// Estilos para los elementos base
//

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul, ol {
  margin: 0;
}

p, li {
  margin-bottom: 0.3em;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
